<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="flex-grow-1">
            <a aria-label="Home" class="logo" routerLink="/">
                <img src="assets/logo.png" style="width: 60px"> 
                <span class="reddit-text">
                    LinkUp
                </span>
            </a>
        </div>
        <div class=" right flex-grow-1 float-right" > 
                <button routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</button> &nbsp;
                <button routerLink="/login" class="float-right login mr-2">Login</button>
        </div>
        
    </nav>
</header>
